.close-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	font-size: 1.5rem;
	span::after {
		content: "\00d7";
	}
	span {
		color: #ffffff;
		transition: transform 0.1s ease-out;
		cursor: pointer;
	}
	span:active {
		color: #acabab;
		transform: rotate(90deg);
	}
}
