.login-container {
	form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	p {
		text-align: center;
		font-size: 1.2rem;
		font-weight: bold;
		margin-top: 0;
	}
	p.wrong-auth {
		font-weight: normal;
		font-size: 0.8rem;
	}
	input[placeholder="Password"] {
		-webkit-text-security: disc;
	}
}
